body{
   font-family:'Brush Script MT', cursive;
   text-align: center;
   background-image: url("https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");    
   
}
h1{
   text-decoration-line: underline overline;
   text-decoration-color: blueviolet;
   text-decoration-thickness: 10px;
   font-size:70px;  
   color:crimson;
   
};

#myGame {
   border: solid 10px #98B4D4;
   border-style: inset;
   box-shadow: "50px 100px 120px";
   outline: red 3px solid;
}

button {
   font-size:25px;
   background-color: #4CAF50;
   border: "none";
   color:crimson;
   padding : "10px 22px";
   font-weight: 900;
   width: auto;
}

a{
   position: absolute;
bottom: 0;
right: 0;
margin-right: 40px;
color:crimson;
font-size: 35px;
background-color: aliceblue;
}
